/* #project{
   
} */

.Project {
   
    /* height: 240vh; */
    background: linear-gradient(180deg,#001b35,#233247 );
    width: 75%;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    /* padding: 100px; */
}
.Project-1{
  background: linear-gradient(180deg,#001b35 ,#233247);
}


  /* @media (min-width: 100px) and ( max-width: 422px) {
    .project-headline h1 {
      padding-top: 50px;
    }
    .project-card-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    .Project{
        height: 440vh;
       }
    } */


  
 




   
